.about {
  &__content {
    padding-top: 60px;
    max-height: 867px;
  }

  &__caption {
    position: relative;
    /* 
    background-image: url(".././img/about-slash.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    */

    &::before {
      content: url(".././img/about-slash.svg");
      display: block;
      position: absolute;
      left: -115px;
      top: -2px;
    }
  }

  &__title {
    margin-bottom: 10px;
    margin-left: -10px;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__txt {
    margin-bottom: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    text-align: justify;

    color: $color-text-dark;
  }

  &-info {
    margin-left: 180px;
    max-width: 540px;
    margin-bottom: 150px;

    &__list {
      max-width: 500px;
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    &__item {
      display: flex;
      gap: 19px;
      align-items: center;
    }

    &__txt {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: $color-text-dark;
    }
  }

  &-options {
    margin-top: 15px;
    margin-left: 90px;
    padding-left: 50px;
    padding-right: 40px;
    background-color: $color-bg-cuprum;
    max-width: 360px;
    max-height: 567px;
    clip-path: polygon(0% 0%, 100% 0, 100% 88.53%, 87.22% 100%, 0% 100%);

    &__subtitle {
      margin-top: 45px;

      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.16em;
      text-transform: uppercase;

      color: #ffffff;
    }

    &__list {
      margin-top: 54px;
    }

    &__item {
      margin-bottom: 46px;
      display: flex;
      gap: 30px;
      align-items: center;

      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;

      color: #ffffff;
    }
  }
}
