.extra {
  &__content {
    padding-top: 33px;
    background-color: $color-bg-dark;
  }

  &-list__txt {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-text-light;
  }
}
