html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  background-color: $color-bg-light;
  color: $color-text-dark;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  @include visually-hidden;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 180px;
  max-width: 1440px;
}

.title {
  font-family: "Calmius Sans Oppo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: $color-text-dark;

  &--light {
    color: $color-text-light;
  }

  &--intro {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;

    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.7);
  }

  &--extra {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #c3c4c6;
  }
}
